.vagrant
.DS_Store

TODO.md
aws-real
*.crt
rootkey.csv
setup-module-example.json
aws-keys.yml
ENV_VARS.sh
ec2-default.ini

#### EXCEPT
!html/info.php

#### FOLDER
ps_theme
html/CodeIgniter-3.0.2.zip
html/codeigniter/
html/yii-basic-app-2.0.6.tgz
html/yii/

#### BINARY
*.jar