---
- name: Instalar clave pública de Jenkins
  sudo: yes
  apt_key: url={{ jenkins_public_key_url }} state=present
      
- name: Añadir URL de repositorio Jenkins al sistema
  sudo: yes
  apt_repository: repo='{{ jenkins_repo_url }}' state=present update_cache=yes

- name: Instalar Jenkins y sus dependencias
  sudo: yes
  apt: name={{ item }} state=latest  update_cache=yes cache_valid_time=3600
  with_items: jenkins_packages
      
- name: Iniciar servicio Jenkins
  sudo: yes
  service: name=jenkins state=started enabled=yes